html {
    background: rgb(235,235,255);
    background: linear-gradient(135deg, rgba(235,235,255,1) 0%, rgba(255,210,210,1) 100%);
}

#outer {
    display: grid;
    max-width: 500px;
    height: auto;
    background-color: rgb(80, 80, 115);
    margin: 100px auto;
    grid-template-columns: repeat(4, 1fr);
    padding: 5px;
    grid-gap: 5px;
    grid-template-areas: 
        'screen screen screen screen'
        'btnc btnc btnbck btndiv'
        'btn7 btn8 btn9 btnx'
        'btn4 btn5 btn6 btnmin'
        'btn1 btn2 btn3 btnadd'
        'btn0 btn0 btndot btneq';
    box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
    border-radius: 4px;
}

.screen {
    background-color: rgb(198, 243, 226);
    text-align: right;
    padding: 20px;
    padding-bottom: 60px;
    border-radius: 4px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 44px;
    height: 80px;
}

#screenbottom {
    height: 60px;
}

#screentop {
    color: rgb(100, 100, 100);
    height: 60px;
}

.btn {
    background-color: rgb(198, 243, 226);
    text-align: center;
    padding: 40px 0;
    border-radius: 4px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 32px;
}

.btn:hover {
    background-color: rgb(175, 195, 250);
    transition: 0.2s;
}

.btn:active {
    background-color: rgb(120, 155, 255);
}

#screen {grid-area: screen}
#btn1 {grid-area: btn1}
#btn2 {grid-area: btn2}
#btn3 {grid-area: btn3}
#btn4 {grid-area: btn4}
#btn5 {grid-area: btn5}
#btn6 {grid-area: btn6}
#btn7 {grid-area: btn7}
#btn8 {grid-area: btn8}
#btn9 {grid-area: btn9}
#btn0 {grid-area: btn0}
#btndot {grid-area: btndot}
#btneq {grid-area: btneq}
#btnadd {grid-area: btnadd}
#btnmin {grid-area: btnmin}
#btnx {grid-area: btnx}
#btndiv {grid-area: btndiv}
#btnc {grid-area: btnc}
#btnbck {grid-area: btnbck}